# Python cache
__pycache__/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea

# zcompile cached files
*.zwc

# nvim temp files
lazy-lock.json
.luarc.json

# oh-my-zsh temp
oh-my-zsh/.devcontainer/
oh-my-zsh/.github/
oh-my-zsh/.gitignore
oh-my-zsh/cache/
